
@{
    ViewBag.Title = "Logindata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Logindata</h2>
<h3>@ViewBag.Message</h3>
<address>
  
    <strong>Marketing:</strong> <a href="https://www.20cube.com/">Freight Forwarder & Logistics Company with Digital Advantage - 20Cube</a>
</address>

